---
import Badge from "./Badge.astro"; 
import { Image } from "astro:assets";
import ToolBadge from "./ToolBadge";
import { STACKS } from "@/common/constant/stack";

interface Props {
  name: string;
  role: "author" | "contributor" | "maintainer";
  url: string;
  image: string;
  description: string | null;
  languages: string[];
  slug: string;
}

const colors = {
  maintainer: "gradient-pink",
  author: "gradient-indigo",
  contributor: "green",
} as const;

const { name, role, url, image, description, languages, slug } = Astro.props;
---

<li
  class="relative dark:bg-zinc-800 bg-white dark:text-zinc-400 text-zinc-500 gap-1 p-5 border dark:border-zinc-700/60 rounded-lg flex flex-col"
>
  <Badge text={role} color={colors[role]} />
  <div class="flex flex-col md:flex-row gap-3">
    <Image
      src={`${image}`}
      alt={name}
      loading="eager"
      class="object-cover w-full md:w-[275px] group-hover:scale-[1.03] transition-all duration-700 rounded-lg"
      width={200}
      height={200}
    />
    <div>
      <div class="flex justify-between mb-1.5">
          <div class="flex flex-col sm:flex-row sm:items-baseline gap-2">
            <a
            href={`/projects/${slug}`}
              class="text-lg font-medium dark:text-white text-zinc-700 [word-break:break-word]"
            >
              {name}
          </a>
          </div>
      </div>
      {description && <p class="leading-relaxed text-sm line-clamp-2">{description}</p>}
      <ul class="flex flex-wrap gap-2 mt-2">
      {
        languages.map((item) => (
          <ToolBadge icon={STACKS[item]} name={item} />
        ))
      }
      </ul>
    </div>
  </div>
</li>