---
import { getCollection } from "astro:content";
import ProjectCard from "./ProjectCard.astro";

const projectData = (await getCollection("projects")).sort(
  (a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()
);
---

<section id="projects" class="min-h-screen flex justify-center">
  <div class="max-w-3xl overflow-x-hidden space-y-12 md:space-y-14 px-6 py-4">
    <div>
      <h1 class="text-4xl font-bold mb-3">Projects</h1>
    <p
      class="max-w-prose mb-10 font-normal dark:text-zinc-400 text-zinc-600 leading-relaxed"
    >
      I love open source and I have been contributing to different projects for
      the some time. Here is a list of projects that I have contributed to and
      authored.
    </p>
    </div>
  <ul class="grid grid-cols-1 gap-8">
    {
      projectData.length && projectData.map((project) => (
        <ProjectCard
          name={project.data.name}
          description={project.data.description}
          role={project.data.role}
          url={project.data.url}
          image={project.data.image}
          languages={project.data.languages}
          slug={project.slug}
        />
      ))
    }
  </ul>
  </div>
</section>