---
import ProjectLayout from "@/layouts/ProjectLayout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import "@/styles/globals.css";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}
type Props = CollectionEntry<"projects">;

const project = Astro.props;
const frontmatter = project.data;
const { Content } = await project.render();
---

<ProjectLayout
  name={frontmatter.name}
  publishedDate={frontmatter.publishedDate}
  image={frontmatter.image}
  imageAlt={frontmatter.imageAlt}
  description={frontmatter.description}
  url={frontmatter.url}
  languages={frontmatter.languages}
  github={frontmatter.github}
>
  <div>
    <Content />
  </div>
</ProjectLayout>
