---
import Navbar from "@/components/Navbar/Navbar";
import Footer from "@/components/Footer/Footer";
import { SEO } from "astro-seo";

import { METADATA } from "@/common/constant/metadata";
const ogImageURL = new URL(METADATA.profile, Astro.site).href;

interface Props {
  title?: string;
  description?: string;
  ogImage?: {
    src: string;
    alt: string;
  };
  publishedDate?: Date;
}

const {
  title = (METADATA.authors.name + METADATA.exTitle),
  description = METADATA.description,
  ogImage = ogImageURL,
  publishedDate,
} = Astro.props;
---

<html lang="en">
  <head>
    <SEO
      title={title}
      description={METADATA.description}
      openGraph={{
        basic: {
          title: METADATA.creator,
          type: "website",
          image: METADATA.profile,
          url: METADATA.openGraph.url,
        },
        optional: {
          description: METADATA.description,
          locale: METADATA.openGraph.locale,
          siteName: METADATA.openGraph.siteName,
        },
      }}
      extend={{
        link: [{ rel: "icon", href: ogImageURL }],
        meta: [
          {
            name: "twitter:image",
            content: "https://www.kevinzunigacuellar.com/static/banner.png"
          },
          {
            name: "twitter:title",
            content: METADATA.creator,
          },
          {
            name: "twitter:description",
            content:
              METADATA.description,
          },
          {
            name: "twitter:url",
            content: METADATA.openGraph.url
          },
          {
            name: "twitter:card",
            content: "summary_large_image"
          },
          {
            name: "twitter:site",
            content: METADATA.openGraph.siteName
          }
        ],
      }}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content={METADATA.authors.name} />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="follow, index" />
    <meta title={title} />
    {
      publishedDate && (
        <meta
          property="article:published_time"
          content={publishedDate.toISOString()}
        />
      )
    }
    <link rel="icon" type="image/x-icon" href={METADATA.profile} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="dark:bg-zinc-900 bg-zinc-100 antialiased selection:bg-blue-300 selection:text-zinc-900 dark:selection:bg-blue-500 dark:selection:text-white py-10 2xl:text-lg font-inter">
    <Navbar client:load active={new URL(Astro.request.url).pathname.split('/')[1]}/>
    <main class="flex justify-center">
      <section class="w-full md:max-w-3xl">
        <slot />
      </section>
    </main>
    <!-- <Footer client:load /> -->
  </body>
</html>
<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>